# Игнорировать все файлы с расширением .log
*.log

# Игнорировать все файлы в директории tmp
tmp/

# Игнорировать все файлы с расширением .tmp
*.tmp

# Игнорировать все файлы в директории build
build/

# Игнорировать все файлы с расширением .pyc (скомпилированные Python файлы)
*.pyc

# Игнорировать все файлы с расширением .swp (временные файлы Vim)
*.swp

# Игнорировать все файлы с расширением .DS_Store (файлы MacOS)
.DS_Store

# Игнорировать все файлы с расширением .env (файлы окружения)
.envS
